<section class="about" id="about">
  <div class="container">
    <div class="about__wrapper wrapper">
      <div class="wrapper__img">
        <img class="image" loading="lazy" src="../img/about.png" width="579" height="466" alt="Картинка">
      </div>
      <div class="wrapper__text">
        <h2 class="wrapper__text-title">о нас</h2>
        <p class="wrapper__text-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, neque, et leo nulla nisl. Neque parturient
          elementum habitasse etiam nec. Fermentum justo nam nibh vitae pellentesque integer. Imperdiet habitant tortor
          est amet tortor viverra. Nulla eget commodo, adipiscing arcu in et risus in.
        </p>
        <p class="wrapper__text-description">
          Cras eu molestie consectetur amet at euismod. Nunc elementum lorem pharetra cursus risus eu. Ac feugiat arcu
          etiam eget sem urna tincidunt lacus. Nec morbi ultrices nulla accumsan adipiscing. Elementum sagittis eu
          placerat non molestie luctus gravida. Risus laoreet nunc lectus orci. Vitae at augue sagittis. Sed faucibus
          ultrices elementum faucibus varius leo, vitae. Molestie semper habitant varius eleifend nisi faucibus.
        </p>
      </div>
    </div>
  </div>
</section>
