<section class="condition" id="condition">
  <div class="container">
    <div class="condition__wrapper wrapper">
      <div class="wrapper__description">
        <h2 class="wrapper__description-title">Условия ДОСТАВКи</h2>
        <p class="wrapper__description-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, neque, et leo nulla nisl. Neque parturient
          elementum habitasse etiam nec.
        </p>
        <p class="wrapper__description-text">
          Fermentum justo nam nibh vitae pellentesque integer. Imperdiet habitant tortor est amet tortor viverra.
        </p>
            <button class="btn-reset wrapper__description-btn" data-graph-path="modal">Связаться с нами</button>
      </div>
      <div class="wrapper__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A3ac71851855e0784d2ada50e565cc08bad10a909dca8e69a4671f438b96647ab&amp;source=constructor"
          frameborder="0">
          <!-- width="582" height="466" -->
        </iframe>
      </div>
    </div>

  </div>
</section>
