<section class="description" id="description">
<div class="container">
  <ul class="description__list">
    <li class="description__item">
      <img src="../img/description/nuturejpg.jpg" alt="картинка" class="description__item-img">
      <p class="description__list-text">
        Используем только натуральные продукты, блюда без консервантов и искусственных добавок.
      </p>
    </li>
    <li class="description__item">
      <img src="../img/description/balance.jpg" alt="картинка" class="description__item-img">
      <p class="description__list-text">
        Сбалансированное здоровое меню, соответствующее КБЖУ
      </p>
    </li>
    <li class="description__item">
      <img src="../img/description/tranning.jpg" alt="картинка" class="description__item-img">
      <p class="description__list-text">
        По желанию подберем программу тренировок и составим индивидуальное КБЖУ для любого уровня подготовки.
      </p>
    </li>
    <li class="description__item">
      <img src="../img/description/delivery.jpg" alt="картинка" class="description__item-img">
      <p class="description__list-text">
        Бесплатная доставка, чтобы сэкономить массу времени и сил для более важных и приятных дел.
      </p>
    </li>
  </ul>
</div>
</section>
