<section class="hero" id="hero">
  <div class="container-fluid">
    <div class="hero__swiper container">
      <div class="swiper hero__swiper-content">
        <div class="swiper-wrapper" style="height: 300px;">
          <div class="swiper-slide">
            <div class="hero__content content">
              <h1 class="content__title"> <span class="green-marker">Детокс-</span> <br> программа</h1>
              <h2 class="content__sub-title">комплексного очищения организма</h2>
              <div class="content__price">от <span class="content__price-bold">1099</span> руб</div>
              <a class="btn" href="#condition" data-scroll>Заказать</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero__content content">
              <h1 class="content__title"> <span class="green-marker">Детокс-</span> <br> программа</h1>
              <h2 class="content__sub-title">комплексного очищения организма</h2>
              <div class="content__price">от <span class="content__price-bold">2099</span> руб</div>
              <a class="btn" href="#condition" data-scroll>Заказать</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero__content content">
              <h1 class="content__title"> <span class="green-marker">Детокс-</span> <br> программа</h1>
              <h2 class="content__sub-title">комплексного очищения организма</h2>
              <div class="content__price">от <span class="content__price-bold">3099</span> руб</div>
              <a class="btn" href="#condition" data-scroll>Заказать</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero__content content">
              <h1 class="content__title"> <span class="green-marker">Детокс-</span> <br> программа</h1>
              <h2 class="content__sub-title">комплексного очищения организма</h2>
              <div class="content__price">от <span class="content__price-bold">4099</span> руб</div>
              <a class="btn" href="#condition" data-scroll>Заказать</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
