<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content content">
      <h2 class="content__title">Форма обратной связи</h2>
      <form action="#" class="content__form">
        <div class="content__form-wrapper">
          <label class="content__form-lable">Ваше имя</label>
          <input class="content__form-input" type="text">
        </div>
        <div class="content__form-wrapper">
          <label class="content__form-lable">Телефон</label>
          <input class="content__form-input" type="tel">
        </div>
        <button class="content__form-btn js-modal-close" type="submit">Отправить</button>
      </form>
      <p class="content__form-description">
        Нажимая на кнопку, вы соглашаетесь на обработку <br> <span class="green-marker">персональных данных</span>
      </p>
    </div>
  </div>
</div>
</div>
