<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content content">
      <h2 class="content__title">Форма обратной связи</h2>
      <form action="#" class="content__form">
        <label class="content__form-lable">Ваше имя</label>
        <input class="content__form-name" type="text">
        <label class="content__form-lable">Телефон</label>
        <input class="content__form-tel" type="tel">
        <button class="content__form-btn" type="button">отправить</button>
        <p class="content__form-description">
          Нажимая на кнопку, вы соглашаетесь на обработку <span>персональных данных</span>
        </p>
      </form>
    </div>
  </div>
</div>
</div>
