<section class="racion" id="racion">
  <div class="container">
    <h2 class="racion__title">Рационы</h2>
    <ul class="racion__list">
      <li class="racion__item card">
        <img class="card__img" src="../img/racions/balance.png" alt="картинка">
        <h3 class="card__title">Баланс</h3>
        <p class="card__text">
          Здоровое питание на каждый день
          для тех, кто заботится о своем ежедневном рационе.
        </p>
        <p class="card__callory">~1 800 ккал</p>
        <div class="card__wrapper">
          <p class="card__wrapper-price">1 190 ₽</p>
          <button class="card__wrapper-btn">Выбрать</button>
        </div>
      </li>
      <li class="racion__item card">
        <img class="card__img" src="../img/racions/light.png" alt="картинка">
        <h3 class="card__title">ЛАЙТ</h3>
        <p class="card__text">
          Четырехразовое меню для похудения, поддержания формы и создания рельефа.
        </p>
        <p class="card__callory">~1 400 ккал</p>
        <div class="card__wrapper">
          <p class="card__wrapper-price">1 050 ₽</p>
          <button class="card__wrapper-btn">Выбрать</button>
        </div>
      </li>
      <li class="racion__item card">
        <img class="card__img" src="../img/racions/super-light.png" alt="картинка">
        <h3 class="card__title">Супер лайт</h3>
        <p class="card__text">
          Быстрое похудение и поддержание формы. Трехразовое меню для быстрого снижения веса без спорта.
        </p>
        <p class="card__callory">~ 900 ккал</p>
        <div class="card__wrapper">
          <p class="card__wrapper-price">890 ₽</p>
          <button class="card__wrapper-btn">Выбрать</button>
        </div>
      </li>
      <li class="racion__item card">
        <img class="card__img" src="../img/racions/mass.png" alt="картинка">
        <h3 class="card__title">масс</h3>
        <p class="card__text">
          Сбалансированное питание для поддержания оптимальной формы при тренировках.
        </p>
        <p class="card__callory">~ 1 800 ккал</p>
        <div class="card__wrapper">
          <p class="card__wrapper-price">1 490 ₽</p>
          <button class="card__wrapper-btn">Выбрать</button>
        </div>
      </li>
    </ul>
  </div>
</section>
